<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scacle=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sustain UVA</title>
  </head>
  <body>
    <h1>Welcome to the Sustain UVA Project!</h1>
    <p> Demonstrate. Lead. Elevate. </p>
    <p>Today is {{ today }}. It's a great day to get started.</p>
  <form action="login" method='post'>
     {% csrf_token %}
      Enter email: <input type="text" name="email"><br>
      Enter password: <input type="text" name="password"><br>
      <input type="submit" value="Login">
  </form>
  </body>
</html>